<h1 mat-dialog-title>{{ 'app.TestMode' | translate }}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <p>
    {{ 'testMode.Warning' | translate }}
    <br/>
    {{ 'testMode.Period' | translate }}
    
  </p>
  <p>
    {{ 'testMode.ParagrahOne' | translate }}
  </p>
  <p>
    {{ 'testMode.ParagrahTwo' | translate }}
  </p>
  <p>
    {{ 'testMode.ParagrahThree' | translate }}
  </p>
</div>
<div mat-dialog-actions class="row">
  <button mat-button color="primary" (click)="close()"><i class="fas fa-check"></i>
    {{ 'app.Close' | translate }}</button>
</div>