<div *ngIf="lightDisplay">
  <div *ngIf="!isSyncing" [tooltip]="TooltipContent" content-type="template" placement="top" show-delay="500" class="blockchain-spinner">
    <mat-progress-spinner [color]="currentSyncStatusColor" mode="determinate" diameter="30" value="100" strokeWidth="6">
    </mat-progress-spinner>
  </div>
  <div *ngIf="isSyncing" [tooltip]="TooltipContent" content-type="template" placement="top" show-delay="500" class="blockchain-spinner">
    <mat-progress-spinner mode="determinate" diameter="30" strokeWidth="6"
      [value]="currentSyncUpdate.percentage * 100"></mat-progress-spinner>
  </div>
</div>

<div *ngIf="!lightDisplay" class="item">
  <div *ngIf="!isSyncing">
    <h2 class="row">
       <div class="wallet-spinner-circle"> 
        <mat-icon fontSet="far" fontIcon="fa-circle"></mat-icon>
      </div>
      <strong>{{currentSyncStatusPercentage}}%</strong> {{currentSyncStatusTitle | uppercase}}
    </h2>
  </div>
  <div *ngIf="isSyncing" class="column blockchain-spinner">
    <p>{{ 'sync.Syncing' | translate }} Blockchain... {{((currentSyncUpdate.percentage) * 100).toFixed(2) }}%</p>
    <p class="updateText">Block {{currentSyncUpdate.currentBlockId}} / {{currentSyncUpdate.blockHeight}}</p>
    <p>Estimated time remaining:</p>
    <p>{{currentSyncUpdate.estimatedTimeRemaining}}</p>
    <div class="blockchain-spinner">
      <mat-progress-spinner mode="determinate" diameter="75" strokeWidth="6"
        [value]="currentSyncUpdate.percentage * 100">
      </mat-progress-spinner>
    </div>
  </div>
</div>

<ng-template #TooltipContent>
  <div *ngIf="!isSyncing">
      Blockchain {{currentSyncStatusPercentage}}%
  </div>
  <div *ngIf="isSyncing" class="column">
    <p>{{ 'sync.Syncing' | translate }} Blockchain... {{((currentSyncUpdate.percentage) * 100).toFixed(2) }}</p>

    <p class="updateText">Block {{currentSyncUpdate.currentBlockId}} / {{currentSyncUpdate.blockHeight}}</p>
    <div class="blockchain-spinner">
      <mat-progress-spinner mode="determinate" diameter="75" strokeWidth="6"
        [value]="currentSyncUpdate.percentage * 100">
      </mat-progress-spinner>
  </div>
  </div>
</ng-template>