<div>
    <div class="actionBar">
        <button mat-button (click)="nextPeriod()" color="primary" [disabled]="!canGoNext"><i
                class="fas fa-arrow-circle-left"></i> {{'neuralium.NextPeriod' | translate}}</button>
        <button mat-button (click)="previousPeriod()" color="primary" [disabled]="!canGoPrevious">{{'neuralium.PreviousPeriod' | translate}}
            <i class="fas fa-arrow-circle-right"></i></button>
    </div>
    <div style="padding: 1em;">
        <table *ngFor="let period of timeline">
            <tr>
                <td colspan="3" style="padding-bottom:1em;">
                    <div class="center-content black-line">
                        <span class="period-day">{{period.day | formatTimelineDate}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="center-content">
                        <span class="period-total vertical-align">
                            <img src="./assets/img/neuralium_icon.png"
                                class="img-fluid" />{{period.endingTotal | formatNeuralium}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr *ngFor="let item of period.entries"
                [ngClass]="{ 'debit': isDebit(item), 'credit': isCredit(item), 'mining': isMining(item)}">

                <td *ngIf="isMining(item) || isCredit(item)" style="width:45%;"></td>
                <td *ngIf="isMining(item) || isCredit(item)" style="width:10%;"
                    class="center-content vertical-background-line">
                    <div class="dot"></div>
                </td>

                <td style="width:45%;margin-bottom:5px;" >
                    <div [@sizeChange]="item.lightState" class="content-light vertical-align" (click)="showTransaction(item)">
                        <div class="icon">
            
                                <img *ngIf="isDebit(item)" src="./assets/img/debit_icon_c.png" class="img-fluid" />
                                <img *ngIf="isCredit(item)" src="./assets/img/credit_icon_c.png" class="img-fluid" />
                                <img *ngIf="isMining(item)" src="./assets/img/mine_icon_s.png" class="img-fluid" />
                       
                        </div>
                        <div class="time">{{item.timestamp | formatTimelineTime}}</div>
                        <div class="account" *ngIf="isDebit(item) || isCredit(item)">
                            <span *ngIf="isDebit(item)">{{item.recipientAccountId | formatAccountNumber}}
                                {{getAccountName(item.recipientAccountId)}}</span>
                            <span *ngIf="isCredit(item)">{{item.senderAccountId | formatAccountNumber}}
                                {{getAccountName(item.senderAccountId)}}</span>
                        </div>
                        <div class="neuraliums vertical-align"><img src="./assets/img/neuralium_icon.png"
                                class="img-fluid" />{{item.amount | formatNeuralium}}</div>
                        <div class="tip vertical-align"><img src="./assets/img/tips_icon.png"
                                class="img-fluid" />{{item.tips | formatNeuralium}}</div>
                    </div>

                    <div [@sizeChange]="item.detailsState" class="content-full" (click)="hideTransaction(item)">
                        <table *ngIf="item.showTransaction">
                            <tr>
                                <td><strong>Transaction ID :</strong></td>
                                <td colspan="4">{{item.transaction.id}}</td>
                                <td style="width: 30px;" rowspan="6">
                                    <div class="icon">
                                            <img *ngIf="isDebit(item)" src="./assets/img/debit_icon_c.png"
                                                class="img-fluid" />
                                            <img *ngIf="isCredit(item)" src="./assets/img/credit_icon_c.png"
                                                class="img-fluid" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Sent To :</strong></td>
                                <td>{{item.transaction.recipient | formatAccountNumber}}</td>
                                <td><strong>Amount :</strong></td>
                                <td>{{item.transaction.amount | formatNeuralium}}</td>
                            </tr>
                            <tr>
                                <td><strong>Datetime :</strong></td>
                                <td>{{item.transaction.date | formatDateWithTime}}</td>
                                <td><strong>Tips :</strong></td>
                                <td>{{item.transaction.tip | formatNeuralium}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total :</strong></td>
                                <td colspan="4">{{item.transaction.total | formatNeuralium}}</td>
                            </tr>
                            <tr>
                                <td><strong>Note :</strong></td>
                                <td colspan="4">{{item.transaction.note }}</td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td *ngIf="isDebit(item)" style="width:10%;" class="center-content vertical-background-line">
                    <div class="dot"></div>
                </td>
                <td *ngIf="isDebit(item)" style="width:45%;"></td>

            </tr>
        </table>

    </div>
</div>