<h1 mat-dialog-title>{{ 'wallet.CreateWallet' | translate }}</h1>
<div mat-dialog-content class="column">
  <mat-divider></mat-divider>


  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Account</ng-template>
      <mat-card>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'account.AccountName' | translate }}</mat-label>
            <input matInput placeholder="Account name" required [(ngModel)]="walletToCreate.friendlyName"
              name="friendlyName">
            <i matSuffix class="fas fa-user"></i>
            <mat-hint>{{ 'account.FriendlyNameForYourAccount' | translate }}</mat-hint>
          </mat-form-field>
        </p>
        <!--
        <p>
          <mat-label>
            <mat-slide-toggle [(ngModel)]="walletToCreate.publishAccount" name="publishAccount"></mat-slide-toggle>
            {{ 'account.PublishAccountAutomatically' | translate }}
          </mat-label>
        </p>
        -->
        <p>
          <mat-label>
            <mat-slide-toggle [(ngModel)]="walletToCreate.encryptWallet" name="encryptWallet"></mat-slide-toggle>
            {{ 'wallet.EncryptWallet' | translate }}
          </mat-label>
        </p>
        <p>
          <mat-label>
            <mat-slide-toggle [(ngModel)]="walletToCreate.encryptKey" name="encryptKey"></mat-slide-toggle>
            {{ 'wallet.EncryptKeys' | translate }}
          </mat-label>
        </p> 
        <p *ngIf="walletToCreate.encryptKey">
          <mat-label>
            <mat-slide-toggle [(ngModel)]="walletToCreate.encryptKeysIndividualy" name="encryptKeysIndividualy">
            </mat-slide-toggle>
            {{ 'wallet.OnePassphraseForEachKey' | translate }}
          </mat-label>
        </p>
        <p *ngIf="walletToCreate.encryptWallet || walletToCreate.encryptKey">
          <mat-label>
            <mat-slide-toggle [(ngModel)]="showPasswords" name="encryptKey"></mat-slide-toggle>
            {{ 'app.ShowPasswords' | translate }}
          </mat-label>
        </p>
      </mat-card>
      <div class="row">
        <button mat-button color="warn" [disabled]="isWalletCreationRunning" (click)="cancel()"><i
            class="fas fa-ban"></i>
          {{ 'app.Cancel' | translate }}</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step
      *ngIf="walletToCreate.encryptWallet || (walletToCreate.encryptKey && !walletToCreate.encryptKeysIndividualy)">
      <ng-template matStepLabel>Wallet Encryption</ng-template>
      <mat-card class="column">

        <div *ngIf="walletToCreate.encryptWallet">
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.Passphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Passphrase"
              [(ngModel)]="walletToCreate.passPhrases[0]" name="passPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForWalletEncryption' | translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Confirm Passphrase"
              [(ngModel)]="passPhrasesConfirm[0]" name="confirmPassPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(0)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesWalletComponent [password]="passPhrasesWallet.value">
          </mat-password-strength>
        </div>

        <div *ngIf="walletToCreate.encryptKey && !walletToCreate.encryptKeysIndividualy">
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'wallet.PassphraseForKeys' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesAll placeholder="Passphrase for keys"
              [(ngModel)]="walletToCreate.passPhrases[1]" name="passPhrasesAll">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForEncryptionOfAllKeys' | translate }}</mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesAllComponent [password]="passPhrasesAll.value"></mat-password-strength>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Confirm Passphrase"
              [(ngModel)]="passPhrasesConfirm[1]" name="confirmPassPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(1)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card>
      <div class="row">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="warn" [disabled]="isWalletCreationRunning" (click)="cancel()"><i
            class="fas fa-ban"></i>
          {{ 'app.Cancel' | translate }}</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step *ngIf="walletToCreate.encryptKeysIndividualy">
      <ng-template matStepLabel>Keys Encryption</ng-template>
      <mat-card class="column" *ngIf="walletToCreate.encryptKey">

        <div>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'wallet.TransactionKeyPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesTransactionkey placeholder="Transaction Key"
              [(ngModel)]="walletToCreate.passPhrases[1]" name="passPhrasesTransactionkey">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForEncryptionOfTransactionKey' | translate }}</mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesTransactionkeyComponent [password]="passPhrasesTransactionkey.value">
          </mat-password-strength>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Confirm Passphrase"
              [(ngModel)]="passPhrasesConfirm[1]" name="confirmPassPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(1)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'wallet.CommunicationKeyPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" type="password" matInput #passPhrasesCommunicationkey
              placeholder="Communication Key" [(ngModel)]="walletToCreate.passPhrases[2]"
              name="passPhrasesCommunicationkey">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForEncryptionOfCommunicationKey' | translate }}</mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesCommunicationkeyComponent [password]="passPhrasesCommunicationkey.value">
          </mat-password-strength>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #confirmPassPhrasesCommunicationkey
              placeholder="Confirm Passphrase" [(ngModel)]="passPhrasesConfirm[2]"
              name="confirmPassPhrasesCommunicationkey">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(2)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'wallet.ChangeKeyPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesChangekey placeholder="Change Key"
              [(ngModel)]="walletToCreate.passPhrases[3]" name="passPhrasesChangekey">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForEncryptionOfChangeKey' | translate }}</mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesChangekeyComponent [password]="passPhrasesChangekey.value">
          </mat-password-strength>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Confirm Passphrase"
              [(ngModel)]="passPhrasesConfirm[3]" name="confirmPassPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(3)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'wallet.BackupKeyPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesBackupkey placeholder="Super Key"
              [(ngModel)]="walletToCreate.passPhrases[4]" name="passPhrasesBackupkey">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint>{{ 'wallet.PassphraseForEncryptionOfBackupKey' | translate }}</mat-hint>
          </mat-form-field>
          <mat-password-strength #passPhrasesBackupkeyComponent [password]="passPhrasesBackupkey.value">
          </mat-password-strength>
          <mat-form-field appearance="legacy">
            <mat-label>{{ 'app.ConfirmPassphrase' | translate }}</mat-label>
            <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Confirm Passphrase"
              [(ngModel)]="passPhrasesConfirm[4]" name="confirmPassPhrasesWallet">
            <i matSuffix class="fas fa-lock"></i>
            <mat-hint *ngIf="!passPhraseConfirmed(4)" class="text-danger">
              {{ 'app.PassphraseAreNotTheSame' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-card>

      <div class="row">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button color="warn" [disabled]="isWalletCreationRunning" (click)="cancel()"><i
            class="fas fa-ban"></i>
          {{ 'app.Cancel' | translate }}</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validation</ng-template>
      <mat-card class="column" *ngIf="isWalletCreationRunning">
        <div style="margin-bottom: 10px;">
            <span style="font-weight: bold;">{{ 'wallet.WalletWaitMessage' | translate }}</span>
            <mat-progress-spinner style="margin: 20px auto;" mode="indeterminate"></mat-progress-spinner>
        </div>
       
        <span class="row" *ngIf="isWalletCreationRunning">
          <mat-progress-bar mode="determinate" [value]="walletCreationStep"></mat-progress-bar>
          <mat-label><small>{{ 'wallet.WalletCreation' | translate }}... {{walletCreationStep | number:'2.2'}} %</small>
          </mat-label>
        </span>
        <span class="row" *ngIf="isAccountCreationRunning">
          <mat-progress-bar mode="determinate" [value]="accountCreationStep"></mat-progress-bar>
          <mat-label><small>{{ 'wallet.AccountCreation' | translate }}... {{accountCreationStep | number:'2.2'}}
              %</small>
          </mat-label>
        </span>
        <span class="row" *ngIf="isKeyCreationRunning">
          <mat-progress-bar mode="determinate" [value]="keyCreationStep"></mat-progress-bar>
          <mat-label><small>{{ 'wallet.KeyCreation' | translate }}... {{keyCreationStep | number:'2.2'}} % ({{keyName}})</small>
          </mat-label>
        </span>
      </mat-card>
      <mat-list role="list" dense>
        <mat-list-item role="listitem">
          <span *ngIf="accountNameValid">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!accountNameValid">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'account.AccountName' | translate }} : {{walletToCreate.friendlyName}}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.publishAccount">
          <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          &nbsp;{{ 'account.PublishAccountAutomatically' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptWallet">
          <span *ngIf="passPhraseValid(0)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(0)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.EncryptWallet' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptKey && !walletToCreate.encryptKeysIndividualy">
          <span *ngIf="passPhraseValid(1)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(1)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.EncryptKeys' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptKey && walletToCreate.encryptKeysIndividualy">
          <span *ngIf="passPhraseValid(1)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(1)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.TransactionKeyPassphrase' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptKey && walletToCreate.encryptKeysIndividualy">
          <span *ngIf="passPhraseValid(2)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(2)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.CommunicationKeyPassphrase' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptKey && walletToCreate.encryptKeysIndividualy">
          <span *ngIf="passPhraseValid(3)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(3)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.ChangeKeyPassphrase' | translate }}
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="walletToCreate.encryptKey && walletToCreate.encryptKeysIndividualy">
          <span *ngIf="passPhraseValid(4)">
            <mat-icon fontSet="fas" fontIcon="fa-check" color="primary"></mat-icon>
          </span>
          <span *ngIf="!passPhraseValid(4)">
            <mat-icon fontSet="fas" fontIcon="fa-ban" color="warn"></mat-icon>
          </span>
          &nbsp;{{ 'wallet.BackupKeyPassphrase' | translate }}
        </mat-list-item>
      </mat-list>
      <div class="row">
        <button mat-button matStepperPrevious [disabled]="isWalletCreationRunning">Back</button>
        <button mat-button color="warn" [disabled]="isWalletCreationRunning" (click)="cancel()"><i
            class="fas fa-ban"></i>
          {{ 'app.Cancel' | translate }}</button>
        <button mat-button color="primary" [disabled]="isWalletCreationRunning || !isWalletValid"
          (click)="createWallet()"><i class="fas fa-check"></i> {{ 'app.Create' | translate }}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


</div>