<app-page-title [title]="'contact.Title' | translate" [icon]="icon" helpMessage="contact.Explain"></app-page-title>

<div class="contact-frame">
    <div class="row">
        

        <button mat-button (click)="addContact()" class="addButton"><i
                class="fas fa-user-plus"></i>{{ 'contact.AddContact' | translate }}</button>

        <mat-form-field class="filterBox">
            <input matInput (keyup)="onFilter($event.target.value)" [placeholder]="'app.Filter' | translate">
        </mat-form-field>
    </div>
    <mat-grid-list cols="3" rowHeight="9em" gutterSize="2em">
        <mat-grid-tile *ngFor="let contact of filteredContacts" colspan="1" rowspan="1">
            <mat-card>
                <mat-card-title><i class="fas fa-user"></i> {{contact.friendlyName}}</mat-card-title>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="showEditContactDialog(contact)"><i
                            class="fas fa-user-edit"></i>
                        {{ 'app.Edit' | translate }}</button>
                    <button mat-button color="warn" (click)="confirmDeleteContact(contact)"><i
                            class="fas fa-user-minus"></i>
                        {{ 'app.Delete' | translate }}</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>