.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: auto auto auto;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-container {
  height: 90vh;
}

mat-sidenav-content{
  display: flex;
  height: 95vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
  height: 95%;
}

.header-align{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}



.fit-image{
  height: auto; 
  width: 100%;
}

.logo-image{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  max-width: 350px;
  max-height: 88px;
}

.background-image{
  overflow: auto;
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.main{
  margin:0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.header{
  background-image: url('../assets/img/bg-top.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.content{
  display: flex;
  flex-direction: row;
}

.content-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-width: 250px;
  height: calc(100vh - 141px);
  z-index: 999;
  border-right: #e2e2e2 1px solid;
          
}

.content-main{
  overflow-y: auto;
  height: calc(100vh - 141px);
  flex-grow: 1;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer{
}