<div *ngIf="showAccountStatus">
    <span>

        <strong>{{ 'account.AccountStatus' | translate}}</strong> :

        <span *ngIf="account.status == 4"><span class="text-danger" [tooltip]="AccountStatusTooltipContent" content-type="template" placement="bottom" show-delay="500"><i class="fas fa-lock"></i>
                {{ 'account.Locked' | translate }}</span></span>
        <span *ngIf="account.status == 2"><span class="text-warning" [tooltip]="AccountStatusTooltipContent" content-type="template" placement="bottom" show-delay="500"><i class="fas fa-lock"></i>
                {{ 'account.Dispatched' | translate }}</span></span>
        <span *ngIf="account.status == 1"><span class="text-primary" [tooltip]="AccountStatusTooltipContent" content-type="template" placement="bottom" show-delay="500"><i class="fas fa-lock"></i>
                {{ 'account.New' | translate }}</span>&nbsp;&nbsp;&nbsp;<span [tooltip]="PublishStatusTooltipContent" content-type="template" placement="bottom" show-delay="500"><button mat-stroked-button color="primary"
                [disabled]="!canPublish" (click)="publishAccount(account.accountUuid)">{{ 'dashboard.PublishAccount' | translate }}</button></span>
            </span>
    </span>

    <ng-template #AccountStatusTooltipContent>
        <span *ngIf="account.status == 4">{{ 'account.Locked' | translate }}</span>
        <span *ngIf="account.status == 2">{{ 'account.Dispatched' | translate }} :
            {{ 'accountPublication.WaitingForConfirmation' | translate }}</span>
        <span *ngIf="account.status == 1">{{ 'account.New' | translate }}</span>
    </ng-template>

    <ng-template #PublishStatusTooltipContent>
            <span *ngIf="!canPublish">
                    {{ 'accountPublication.NeedBlockchainSynced' | translate }}
            </span>
            <span *ngIf="canPublish">
                    {{ 'accountPublication.AccountPublicationProcessExplanation' | translate }}
            </span>
        </ng-template>
</div>