<mat-card style="width:95%;" class="column">
  <mat-form-field>
    <input matInput placeholder="method" [(ngModel)]="method" name="method" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="parameters" [(ngModel)]="parameters" name="parameters" type="text">
  </mat-form-field>


  <br />
  <button mat-stroked-button color="primary" [disabled]="canQuery() === false"
    (click)="runQuery()">{{ 'apiexplorer.Run' | translate }}</button>

  <mat-card style="width:98%">
    <div style="overflow: auto;">
      <ngx-json-viewer [json]="result" [expanded]="false"></ngx-json-viewer>
    </div>
  </mat-card>
</mat-card>