<div class="window-panel">
  <h1 mat-dialog-title>Select your language</h1>
  <div mat-dialog-actions class="row button-container">
    <mat-divider></mat-divider>
    
    <span class="choice-button red-button"><button mat-button (click)="useLanguage('en')">English</button></span>
    <span class="choice-button blue-button"><button mat-button (click)="useLanguage('fr')">Français</button></span>
    <span class="choice-button orange-button"><button mat-button (click)="useLanguage('es')">Español</button></span>
  </div>
</div>

