

.window-panel{
    // background-image: url('../../../assets/img/lngi.png');
    // background-repeat: no-repeat;
    // background-position-x: right;
    // background-position-y: top;
}

.button-container{
    text-align: center;
    margin-bottom: 0px;
}

.choice-button{
    display: inline-block;
    margin: 0 auto;
}

.lang-icon{
    margin: 0 3px;
}

.language-button{
    border-radius: 4px;
    margin: 5px 10px;
}
