<div class="window-panel">
  <h1 mat-dialog-title>Select your language</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="row button-container">
    
    
    <div>
    <span class="choice-button language-button" style="border-bottom: #FF6671 4px solid;"><button mat-button (click)="useLanguage('en')">English</button></span>
    <span class="choice-button language-button" style="border-bottom: #9FDEFF 4px solid;"><button mat-button (click)="useLanguage('fr')">Français</button></span>
    <span class="choice-button language-button" style="border-bottom: #FFD479 4px solid;"><button mat-button (click)="useLanguage('es')">Español</button></span>
    <span class="choice-button language-button" style="border-bottom: #690000 4px solid;"><button mat-button (click)="useLanguage('zh')">汉语</button></span><!--chinese simplified-->
    <span class="choice-button language-button" style="border-bottom: #690000 4px solid;"><button mat-button (click)="useLanguage('zh-TW')">漢語</button></span><!--chinese traditional-->
    <span class="choice-button language-button" style="border-bottom: #bfa902 4px solid;"><button mat-button (click)="useLanguage('ar')">العربية</button></span><!--arabic-->
    <span class="choice-button language-button" style="border-bottom: #bf3102 4px solid;"><button mat-button (click)="useLanguage('pt')">Português</button></span>
    <span class="choice-button language-button" style="border-bottom: #024ebf 4px solid;"><button mat-button (click)="useLanguage('ru')">Русский</button></span><!--russian-->
    <span class="choice-button language-button" style="border-bottom: #3bb000 4px solid;"><button mat-button (click)="useLanguage('yo')">Èdè Yorùbá</button></span><!--yoruba-->
    <span class="choice-button language-button" style="border-bottom: #1a003d 4px solid;"><button mat-button (click)="useLanguage('de')">Deutsch</button></span>
    <span class="choice-button language-button" style="border-bottom: #f59542 4px solid;"><button mat-button (click)="useLanguage('it')">Italiano</button></span>
    <span class="choice-button language-button" style="border-bottom: #0b20bd 4px solid;"><button mat-button (click)="useLanguage('iw')">עברית</button></span><!--hebrew-->
    <span class="choice-button language-button" style="border-bottom: #000e69 4px solid;"><button mat-button (click)="useLanguage('ko')">조선말</button></span><!--korean-->
    <span class="choice-button language-button" style="border-bottom: #850413 4px solid;"><button mat-button (click)="useLanguage('id')">Bahasa Indonesia</button></span><!--indonesian-->
    <span class="choice-button language-button" style="border-bottom: #034f1a 4px solid;"><button mat-button (click)="useLanguage('ur')">اُردُو</button></span><!--urdu-->
    <span class="choice-button language-button" style="border-bottom: #0a8fa3 4px solid;"><button mat-button (click)="useLanguage('so')">اللغة الصومالية</button></span><!--Somali-->
    <span class="choice-button language-button" style="border-bottom: #b05200 4px solid;"><button mat-button (click)="useLanguage('hi')">हिन्दी</button></span><!--hindi-->
    <span class="choice-button language-button" style="border-bottom: #0a38a3 4px solid;"><button mat-button (click)="useLanguage('uk')">Українська</button></span><!--Ukranian-->
    <span class="choice-button language-button" style="border-bottom: #850413 4px solid;"><button mat-button (click)="useLanguage('ja')">日本語</button></span><!--japanese-->
   <span class="choice-button language-button" style="border-bottom: #b05200 4px solid;"><button mat-button (click)="useLanguage('bn')">বাংলা</button></span><!-- Bengali -->
   <span class="choice-button language-button" style="border-bottom: #034f1a 4px solid;"><button mat-button (click)="useLanguage('ha')">حَوْسَ</button></span><!-- Hausa -->
   <span class="choice-button language-button" style="border-bottom: #b05200 4px solid;"><button mat-button (click)="useLanguage('pa')">पंजाबी</button></span><!-- Punjabi -->
   <span class="choice-button language-button" style="border-bottom: #b05200 4px solid;"><button mat-button (click)="useLanguage('te')">తెలుగు</button></span><!-- Telugu -->
   <span class="choice-button language-button" style="border-bottom: #850413 4px solid;"><button mat-button (click)="useLanguage('tr')">Türkçe</button></span><!-- Turkish -->
   <span class="choice-button language-button" style="border-bottom: #e8d500 4px solid;"><button mat-button (click)="useLanguage('vi')">Tiếng Việt Nam</button></span><!-- Vietnamese -->
   <span class="choice-button language-button" style="border-bottom: #026322 4px solid;"><button mat-button (click)="useLanguage('fa')">فارسی</button></span><!-- Persian -->
   <span class="choice-button language-button" style="border-bottom: #02bf3b 4px solid;"><button mat-button (click)="useLanguage('bg')">български език</button></span><!-- Bulgarian -->
   <span class="choice-button language-button" style="border-bottom: #04a7bd 4px solid;"><button mat-button (click)="useLanguage('ta')">தமிழ்</button></span><!-- Tamil -->
   <span class="choice-button language-button" style="border-bottom: #FF6671 4px solid;"><button mat-button (click)="useLanguage('pl')">Język polski</button></span><!-- Polish -->
   <span class="choice-button language-button" style="border-bottom: #09043d 4px solid;"><button mat-button (click)="useLanguage('th')">ภาษาไทย</button></span><!-- Thai -->
   <span class="choice-button language-button" style="border-bottom: #09043d 4px solid;"><button mat-button (click)="useLanguage('la')">Lingua Latīna</button></span><!-- Latin -->

  </div>
  </div>
</div>

