table{
    margin-bottom: 1em;
}

.worldWrap{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for WebKit */
    word-break: break-word;

-webkit-hyphens: auto;
-moz-hyphens: auto;
    hyphens: auto;
}

.row {
    display: flex;
    flex-direction: row;
  }

  mat-card-title{
    font-size: 15px;
    color: #673ab7;
    font-variant: small-caps;
  }

  .accoutId{
    color:#008685;
    font-size: 12pt;
    font-weight: bold;
  }

  .accoutIdEntry{
    color:#00689F;
    font-size: 16pt;
    font-weight: bold;
  }