<h1 mat-dialog-title>{{ 'app.LicenseAcceptance' | translate }}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div>
    <div>
      <h2>Software License Agreement</h2>

      <p><strong>Disclaimer:</strong>The latest version of the software license agreement can be viewed at: <a
          href="http://www.neuralium.com/legal/sla">http://www.neuralium.com/legal/sla</a>.</p>
      <p>In case of discrepancy between this version and the online version of the software license agreement, the
        online version will be considered the valid one.</p>

      <h4>1. Information published by the Company</h4>

      <p>The company, Neuralium Inc. (hereinafter, referred to as the "Company") provides
        information and material of a general nature. You are not authorized and nor should you
        rely on the Company for legal advice, business advice, or advice of any kind. You act
        at your own risk in reliance on the contents of the Company Product Offering. Should
        you make a decision to act or not act you should contact a licensed attorney in the
        relevant jurisdiction in which you want or need help. In no way are the owners of, or
        contributors to, the Company, responsible for the actions, decisions, or other behavior
        taken or not taken by you in reliance upon the Company.</p>

      <h4>2. Translations</h4>

      <p>The Company Product Offering may contain translations of the English version of the
        content. These translations are provided only as a convenience. In the event of any
        conflict between the English language version and the translated version, the English
        language version shall take precedence.</p>

      <h4>3. Risks related to the use of Company Product
        Offering</h4>

      <p>The Company will not be responsible for any losses, damages or claims arising from
        events falling within the scope of the following five categories:</p>

      <ol>
        <li>
          <p>Mistakes made by the user of any Company related software or service, e.g.,
            forgotten passwords, payments sent to wrong addresses, and accidental deletion of
            wallets.</p>
        </li>

        <li>
          <p>Software or service problems of the Company, e.g., corrupted wallet file,
            incorrectly constructed transactions, unsafe cryptographic libraries, malware
            affecting the Company.</p>
        </li>

        <li>
          <p>Technical failures in the hardware of the user of any Company related software
            or service, e.g., data loss due to a faulty or damaged storage device.</p>
        </li>

        <li>
          <p>Security problems experienced by the user of any Company related software or
            service, e.g., unauthorized access to users' wallets and/or accounts.</p>
        </li>

        <li>
          <p>Actions or inactions of third parties and/or events experienced by third
            parties, e.g., bankruptcy of service providers, information security attacks on
            service providers, and fraud conducted by third parties.</p>
        </li>
      </ol>

      <h4>4. Investment risks</h4>

      <p>Through acceptance of these terms the user acknowledges that the Company does not
        issue securities and/or currency and that the Company Product Offering has no intrinsic monetary value. 
        The user also acknowledges that the Company Product Offering is a toy intended for entertainement purposes 
        only and not to be considered as anything else. 
        The Company is not responsible for any gains or losses incurred from use of its products
        and/or services. Nor for determining or ensuring compliance with any potential tax
        obligation by the user.</p>

      <h4>5. Usage and retention of personal data</h4>

      <p>The use of certain functions of the system may require users to send the company
        certain potentially identifying pieces of information such as but not necessarily
        limited to account numbers and IP. The company will do it&rsquo;s best to secure this
        information, but it is provided &lsquo;as is&rsquo; by the product users and with full
        knowledge and understanding of the potential risks in order to supplement their
        experience of the system. The product user agrees that the company is not responsible
        for this data and that the company not to be held responsible in any way in the advent
        of data loss or if any other security breach should occur.</p>

      <p><br /></p>

      <p>Establishing trust with our userbase is of the utmost importance and we believe that
        retaining certain data points will provide for a safer platform and better fraud
        detection and prevention. Personal data provided to Neuralium however, will never be
        shared with third parties.</p>

      <h4>6. Your warranties and representations</h4>

      <p>By entering these Terms and Conditions you warrant and represent that: a) You have
        full capacity to contract under applicable law; b) You will only be transacting via the
        Software with legally-obtained funds that belong to you; c) You will not be furthering,
        performing, undertaking, engaging in, aiding, or abetting any unlawful activity through
        your relationship with us or through your use of the Software; d) You will not use the
        Software for illegal purposes, including money laundering of criminal proceeds,
        transfer or receipt of payment for planning, preparation or commitment of crime, for
        financing the terrorism and illegal trade; e) You will not use the Software for any
        purpose prohibited by these Terms or in any manner that could damage, disable,
        overburden, or impair the Company; f) You will be complying with and obeying all
        applicable laws, including but not limited to securities and capital market
        legislation, anti-money laundering and counterfeiting terrorism, consumer protection
        laws, financial promotion.</p>

      <h4>7. No warranties</h4>

      <p>The Company Product Offering is on an "as is" basis without any warranties of any
        kind regarding any content, data, materials and/or services provided.</p>

      <h4>8. Limitation of liability</h4>

      <p>Unless otherwise required by law, in no event shall the owners of, or contributors
        to, the Company be liable for any damages of any kind, including, but not limited to,
        loss of use, loss of profits, or loss of data arising out of or in any way connected
        with the use of the Company Product Offering.</p>

      <h4>9. Arbitration</h4>

      <p>The user of the Company Product Offering agrees to arbitrate any dispute, except for
        disputes related to copyrights, logos, trademarks, trade names, trade secrets or
        patents.</p>

      <h4>10. Terms of Use</h4>

      <p>The Terms of Use are subject to change without any prior notice at the sole
        discretion of the Company.</p>

      <h4>Last amendment</h4>

      <p>This disclaimer was amended for the last time on April 13th, 2019.</p>

      <p><br /></p>

    </div>
  </div>
  <div *ngIf="!data.shown">
    <mat-divider></mat-divider>
    <p>
      <mat-checkbox [(ngModel)]="validationChecked">{{ 'app.TermsOfServiceCheck' | translate }}</mat-checkbox>
    </p>
    <p>
      {{ 'app.TermsOfServiceClick' | translate }}
    </p>
  </div>
  </div>
<div mat-dialog-actions class="row" *ngIf="!data.shown">
  <button mat-button color="primary" (click)="yes()" [disabled]="!validationChecked"><i class="fas fa-check"></i>
    {{ 'app.Yes' | translate }}</button>
  <button mat-button color="warn" (click)="no()"><i class="fas fa-ban"></i> {{ 'app.No' | translate }}</button>
</div>
<div mat-dialog-actions class="row" *ngIf="data.shown">
  <button mat-button (click)="close()"> {{ 'app.Close' | translate }}</button>
</div>