@import '~@angular/material/theming';

@include mat-core();

$neuralium-green-palette:(
50 : #e0f0f0,
100 : #b3dbda,
200 : #80c3c2,
300 : #4daaaa,
400 : #269897,
500 : #008685,
600 : #007e7d,
700 : #007372,
800 : #006968,
900 : #005655,
A100 : #88fffd,
A200 : #55fffd,
A400 : #22fffc,
A700 : #08fffb,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

$neuralium-purple-palette:(
  50 : #ece0fd,
  100 : #d0b3fa,
  200 : #b180f6,
  300 : #914df2,
  400 : #7a26f0,
  500 : #673ab7,
  600 : #5a00eb,
  700 : #5000e8,
  800 : #4600e5,
  900 : #3400e0,
  A100 : #ffffff,
  A200 : #dcd4ff,
  A400 : #b1a1ff,
  A700 : #9c88ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$app-primary: mat-palette($neuralium-green-palette);
$app-accent:  mat-palette($neuralium-purple-palette);
$app-warn:    mat-palette($mat-red, 600);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($theme);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.background-footer{
  background: url("assets/img/bg1w.svg") no-repeat;
  background-position: right bottom;
}

.textHighlight{
  color: #008685;
  font-weight: bold;
}

.tooltip{
  color: #1F8AFF !important;
  background-color: #D2E8FF !important;
}

.mat-ink-bar{
  background-color: #008685 !important;
}

.snackBar-alert-success{
  color: darkgreen !important;
  background-color: rgb(149, 252, 149) !important;
}

.snackBar-alert-success .mat-button-wrapper{
  color: darkgreen !important;
}

.snackBar-alert-info{
  color: #1F8AFF !important;
  background-color: #D2E8FF !important;
}

.snackBar-alert-info .mat-button-wrapper{
  color: #1F8AFF !important;
}

.snackBar-alert-warn{
  color: black !important;
  background-color: rgb(255, 212, 131) !important;
}

.snackBar-alert-warn .mat-button-wrapper{
  color: rgb(255, 145, 0) !important;
}

.snackBar-alert-danger{
  color: black !important;
  background-color: rgb(247, 122, 122) !important;
}

.snackBar-alert-danger .mat-button-wrapper{
  color: rgb(95, 0, 0) !important;
}
