.column {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
 .no-wrap{
  flex-wrap: nowrap;
 }

 

  .item{
    margin:1em;
    flex-grow: 1;
  }

  .item-large{
    margin:1em;
    flex-grow: 2;
  }

  mat-card-title{
    font-size: 15px;
    color: #673ab7;
  }
