<mat-card class="column">
  <mat-form-field>
      <mat-select placeholder="Contact" [(ngModel)]="selectedContact" name="selectedContact">
          <mat-option *ngFor="let contact of contacts" [value]="contact">
              {{contact.friendlyName}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="!contactSelected">
      <span matPrefix><i class="fas fa-user"></i>&nbsp;</span>
      <input matInput placeholder="Contact Id" [(ngModel)]="selectedContactManual" name="selectedContactManual">
  </mat-form-field>

  <mat-form-field>
      <span matPrefix><img src="assets/img/neuralium_icon.png" class="img-fluid" width="18px" />&nbsp;</span>
      <input matInput placeholder="Neuraliums" [(ngModel)]="neuraliums" name="neuraliums" type="number">
  </mat-form-field>

  <mat-form-field>
      <span matPrefix><img src="assets/img/tips_icon.png" class="img-fluid" width="18px" />&nbsp;</span>
      <input matInput placeholder="Tip" [(ngModel)]="tip" name="tip" type="number">
  </mat-form-field>

  <mat-form-field>
      <span matPrefix><i class="fas fa-align-justify"></i>&nbsp;</span>
      <textarea matInput rows="4" maxlength="140" placeholder="Internal memo" [(ngModel)]="note" name="note"></textarea>
  </mat-form-field>

  <mat-card-actions>
      <span *ngIf="!canSendTransaction">
            {{ 'send.CantSend' | translate }}
      </span>
      <div *ngIf="canSendTransaction"  class="button-bar">
          <button mat-button color="primary" [disabled]="sendDisabled" (click)="sendTransaction()"><i class="fas fa-sign-out-alt"></i>{{ 'send.Send' | translate }}</button>
      </div>
  </mat-card-actions>
</mat-card>