<app-page-title [title]="title" [icon]="icon" showNeuraliumsTotal="true" helpMessage="neuralium.Explain">
</app-page-title>
<mat-tab-group>
  <mat-tab *ngIf="hasCurrentAccount && currentAccount.isActive ">
    <!-- && currentAccount.status === 3 -->
    <ng-template mat-tab-label>
      <img src="./assets/img/mine_icon_s.png" class="img-fluid" />&nbsp; {{ 'mining.Mining' | translate }}
    </ng-template>
    <mat-divider></mat-divider>
    <div class="row item">
      <div class="item" style="width: 40%">
        <mat-card style="flex-grow:1;">
          <mat-card-title>{{ 'mining.InformationPanel' | translate }}&nbsp;<app-help-icon [message]="'mining.ExplainInfoPanel'">
            </app-help-icon>
          </mat-card-title>
          <mat-card-content>
            <mat-divider></mat-divider>
            
            <div style="padding-top: 3px;">
              <mat-card *ngIf="currentAccount" style="margin-bottom:1em;">
                <table>
                  <tr>
                    <td>{{ 'account.CurrentAccount' | translate }}</td>
                    <td style="width: 30px;"></td>
                    <td><span class="textHighlight">{{currentAccount.accountId}}</span></td>
                  </tr>
                  <tr>
                    <td>{{ 'blockchain.BlockId' | translate }}</td>
                    <td></td>
                    <td><span style="font-weight: bold;">{{blockchainInfo.blockInfo.id}}</span></td>
                  </tr>
                  <tr>
                    <td>{{ 'mining.CurrentDifficulty' | translate }}</td>
                    <td></td>
                    <td><span style="font-weight: bold;">0x{{currentDifficulty.toString(16)}}</span></td>
                  </tr>
                  <tr *ngIf="showRemainingTime">
                    <td><strong>{{ 'blockchain.NextBlockRemainingTime' | translate }}</strong></td>
                    <td></td>
                    <td>
                      <div>
                        <mat-progress-bar style="width:100px;" mode="determinate" [value]="remainingTimePercent">
                        </mat-progress-bar><small>{{currentRemainingTime | date:'HH:mm:ss'}}</small>
                      </div>
                    </td>
                  </tr>
                </table>
                <hr />
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <td>{{ 'mining.Statistics' | translate }}</td>
                    <div style="width: 100%;">
                      <table style="width: 100%;">
                        <tr>
                          
                          <td style="width: 100%;"></td>
                          <td style="padding-right: 20px;"><button mat-raised-button (click)="refreshStatistics($event)">{{ 'mining.RefreshStatistics' | translate }}</button></td>
                        </tr>
                      </table>
                    </div>
      
                  </mat-expansion-panel-header>
      
                  <div>
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ 'mining.StatisticsSession' | translate }}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{ 'mining.StatisticsSessionDescription' | translate }}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
      
                        <div>
                          <table>
                            <tr>
                              <td>{{ 'mining.StateTime' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.startedSession | formatDateWithTime}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.StartBlock' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.blockStartedSession}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.BlocksProcessed' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.blocksProcessedSession}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.BlocksElected' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.blocksElectedSession}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.LastBlockElected' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.lastBlockElectedSession}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.PercentElected' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.percentElectedSession | percent:'1.0-0'}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.TotalBounties' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.totalBountiesAggregate  | formatNeuralium}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.TotalTips' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.totalBountiesSession  | formatNeuralium}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.AverageBountyPerBlock' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.totalTipsSession  | formatNeuralium}}</span></td>
                            </tr>
      
                          </table>
                        </div>
      
                      </mat-expansion-panel>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ 'mining.StatisticsAggregate' | translate }}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{ 'mining.StatisticsAggregateDescription' | translate }}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
      
      
                        <div>
                          <table>
                            <tr>
                              <td>{{ 'mining.BlocksProcessed' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.blocksProcessedAggregate}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.BlocksElected' | translate }}</td>
                              <td style="width: 30px;"></td>
                              <td><span>{{miningStatistics.blocksElectedAggregate}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.LastBlockElected' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.lastBlockElectedAggregate}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.PercentElected' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.percentElectedAggregate | percent:'1.0-0'}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.TotalBounties' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.totalBountiesAggregate  | formatNeuralium}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.TotalTips' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.totalTipsAggregate  | formatNeuralium}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.AverageBountyPerBlock' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.averageBountyPerBlockAggregate  | formatNeuralium}}</span></td>
                            </tr>
                            <tr>
                              <td>{{ 'mining.MiningSessions' | translate }}</td>
                              <td></td>
                              <td><span>{{miningStatistics.miningSessionsAggregate}}</span></td>
                            </tr>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
      
                </mat-expansion-panel>
      
              </mat-card>
            </div>

          </mat-card-content>
        </mat-card>
      
        
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{ 'mining.Advanced' | translate }}
            </mat-expansion-panel-header>

              <button mat-raised-button (click)="clearCachedCredentials($event)">{{ 'mining.ClearCachedCredentials' | translate }}</button>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="item" style="width: 40%">
        <mat-card style="flex-grow:1;">
          <mat-card-title>{{ 'mining.MiningControls' | translate }}&nbsp;<app-help-icon [message]="'mining.Explain'">
            </app-help-icon>
          </mat-card-title>
          <mat-card-content>
            <mat-divider></mat-divider>
            <app-mining></app-mining>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>{{ 'app.Events' | translate }}</mat-card-title>
          <mat-card-content>
            <mat-divider></mat-divider>
            <app-mining-events></app-mining-events>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="hasCurrentAccount">
    <ng-template mat-tab-label>
      <img src="./assets/img/debit_icon.png" class="img-fluid" />&nbsp; {{ 'send.Title' | translate }}
    </ng-template>
    <div class="container-centered">
      <app-send-neuraliums [neuraliumTotal]="neuraliumTotal" [currentAccountUuId]="currentAccount.AccountUuId"
        (neuraliumsSent)="neuraliumsSent($event)"></app-send-neuraliums>

    </div>
  </mat-tab>
  <mat-tab *ngIf="hasCurrentAccount" style="width: 100%">
    <ng-template mat-tab-label>
      <i class="fas fa-list-ul"></i>&nbsp; {{ 'neuralium.Timeline' | translate }}
    </ng-template>
    <app-neuraliums-history></app-neuraliums-history>
  </mat-tab>


</mat-tab-group>