<div class="top-wrapper">
  <div style="margin: 6px;">
    <div class="side-wrapper centerMiningButton" style="margin: 10px;">
      <mat-card class="half-card" style="margin: 10px; height: 205px;">

        <div class="centerMiningButton">
          <span class="mineHeader" style="font-weight: bold;">{{isMining ? ('mining.CurrentlyMining' | translate) : ('mining.NotCurrentlyMining' | translate)}}</span>
          <button class="mineButton" mat-icon-button [ngClass]="[isMining ? 'stopMining' : 'startMining']"
            (click)="toggleMining()" [disabled]="disableMiningButton">

          </button>
          <span class="mineHeader">{{isMining ? ('mining.Stop' | translate) : ('mining.Start' | translate)}}</span>

        </div>
      </mat-card>
      <mat-card class="half-card" style="margin: 10px;height: 205px;padding:10px;">
        <mat-card style="width: 100%;margin: 5px 1px;padding: 5px;">
          <div style="display: inline-flex;">
            <span style="display: block;">{{miningTierText}}</span>
            <!-- <div *ngIf="isConnectable !== true"><app-help-icon [message]="miningportalert"></app-help-icon> </div> -->
          </div>
        </mat-card>
        <mat-card style="width: 100%;margin: 5px 1px;padding: 5px;">
          <div style="display: inline-flex;">
            <span style="display: block;">{{connectibleText}}</span>
            <!-- <div *ngIf="isConnectable !== true"><app-help-icon [message]="miningportalert"></app-help-icon> </div> -->
          </div>
        </mat-card>
        <mat-card style="width: 100%;margin: 5px 1px;padding: 5px;">
          <div style="display: inline-flex;">
            <span style="display: block;">{{ 'mining.Protocol' | translate }}:&nbsp;{{ipmodeText}}</span>
          </div>
        </mat-card>
      </mat-card>
    </div>
    <div style="margin: 23px 10px 10px 10px;">
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{ 'mining.Options' | translate }}
            </mat-expansion-panel-header>

            <h3 style="color: red;">*Reserved for future use.</h3>
            <hr />
            <!--<mat-form-field>
              <span matPrefix><i class="fas fa-user-circle"></i>&nbsp;</span>
              <input matInput placeholder="Delegate account" [(ngModel)]="delegateAccount" name="delegateAccount">
            </mat-form-field>

            <hr />
            <h4>{{ 'mining.OptionTrxSelectionStrategy' | translate }}</h4>

              <mat-select placeholder="Transaction Selection Strategies" [(ngModel)]="selectedStrategy" name="selectedStrategy">
                   <mat-option value="HighestTipStrategy">{{'mining.HighestTipStrategy' | translate}}</mat-option>
                   <mat-option value="CreationTimeStrategy">{{'mining.CreationTimeStrategy' | translate}}</mat-option>
                   <mat-option value="TransactionTypeStrategy">{{'mining.TransactionTypeStrategy' | translate}}</mat-option>
                   <mat-option value="TransactionSizeStrategy">{{'mining.TransactionSizeStrategy' | translate}}</mat-option>
                   <mat-option value="RandomStrategy">{{'mining.RandomStrategy' | translate}}</mat-option>
            </mat-select>

            <br />
            <mat-card class="column">

                <mat-form-field *ngIf="showSortingOrder()">
                    <span matPrefix><i class="fas fa-user"></i>&nbsp;</span>
                    <mat-select placeholder="Sorting method" [(ngModel)]="sortingMethod" name="sortingMethod">
                        <mat-option value="OlderToNewer">{{'mining.OlderToNewer' | translate}}</mat-option>
                        <mat-option value="NewerToOlder">{{'mining.NewerToOlder' | translate}}</mat-option>
                        <mat-option value="Random">{{'mining.Random' | translate}}</mat-option>
                 </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showSizeSortingOrder()">
                    <span matPrefix><i class="fas fa-user"></i>&nbsp;</span>
                    <mat-select placeholder="Size Sorting method" [(ngModel)]="sizeSortingMethod" name="sizeSortingMethod">
                        <mat-option value="LargerToSmaller">{{'mining.LargerToSmaller' | translate}}</mat-option>
                        <mat-option value="SmallerToLarger">{{'mining.SmallerToLarger' | translate}}</mat-option>
                        <mat-option value="Random">{{'mining.Random' | translate}}</mat-option>
                 </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showTimeSortingOrder()">
                    <span matPrefix><i class="fas fa-user"></i>&nbsp;</span>
                    <mat-select placeholder="Time Sorting method" [(ngModel)]="timeSortingMethod" name="timeSortingMethod">
                        <mat-option value="OlderToNewer">{{'mining.OlderToNewer' | translate}}</mat-option>
                        <mat-option value="NewerToOlder">{{'mining.NewerToOlder' | translate}}</mat-option>
                        <mat-option value="Random">{{'mining.Random' | translate}}</mat-option>
                 </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showTipSortingOrder()">
                    <span matPrefix><i class="fas fa-user"></i>&nbsp;</span>
                    <mat-select placeholder="Tip Sorting method" [(ngModel)]="tipSortingMethod" name="tipSortingMethod">
                        <mat-option value="MostToLess">{{'mining.MostToLess' | translate}}</mat-option>
                        <mat-option value="LessToMost">{{'mining.LessToMost' | translate}}</mat-option>
                        <mat-option value="Random">{{'mining.Random' | translate}}</mat-option>
                 </mat-select>
                </mat-form-field>
            </mat-card>
            <button mat-button color="primary" (click)="save()"><i class="fas fa-check"></i>
              {{ 'app.Save' | translate }}</button> -->

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>