<h1 mat-dialog-title>{{keyName}} - {{ 'app.PassphraseRequired' | translate }}</h1>
<div mat-dialog-content>
    <mat-divider></mat-divider>
    <p *ngIf="attempt === 1" >
      {{ 'app.PleaseEnterYourPassphrase' | translate }}
    </p>
    <p *ngIf="attempt === 2" >
      {{ 'app.PleaseEnterYourPassphraseAgain' | translate }}
    </p>
    <p *ngIf="attempt === 3" >
      {{ 'app.PleaseEnterYourPassphraseLastAttempt' | translate }}
    </p>
    <mat-form-field appearance="legacy">
      <mat-label>{{ 'app.Passphrase' | translate }} {{keyName}}
      </mat-label>
      <input [type]="passWordInputType" matInput #passPhrasesWallet placeholder="Passphrase" [(ngModel)]="password"
        name="passPhrases" (keyup.enter)="ok()">
      <i matSuffix class="fas fa-lock"></i>
    </mat-form-field>
    <p>
      <mat-label>
        <mat-slide-toggle [(ngModel)]="showPasswords" name="showPasswords"></mat-slide-toggle>
        {{ 'app.ShowPasswords' | translate }}
      </mat-label>
    </p>
</div>
<div mat-dialog-actions class="row">
    <button mat-button color="primary" (click)="ok()"><i class=""></i> Ok</button>
</div>