<mat-nav-list>
        <!--a mat-list-item style="cursor: pointer;" (click)="changeBlockchain()"><i [class]="currentBlockchain.icon"></i><span
                    class="label">{{currentBlockchain.label}}</span></a-->
        <a *ngIf="showDashboard" mat-list-item routerLink="/dashboard" [routerLinkActive]="'active'">
                <img src="assets/img/leftmenu-wallet.png" class="img-fluid" width="20px" />&nbsp;{{'dashboard.Title' | translate }}</a>
        <a *ngIf="showSend" mat-list-item routerLink="/neuraliums" [routerLinkActive]="'active'">
                <img src="assets/img/leftmenu-neuralium.png" class="img-fluid" width="20px" />&nbsp;{{'neuralium.Title' | translate }}</a>
        <a *ngIf="showContacts" mat-list-item routerLink="/contacts" [routerLinkActive]="'active'"><i
                        class="fas fa-user-circle"></i>&nbsp;{{'contact.Title' | translate }}</a>
        <a *ngIf="showHistory" mat-list-item routerLink="/history" [routerLinkActive]="'active'"><i
                        class="fas fa-list-ul"></i>&nbsp;{{'history.Title' | translate }}</a>
        <a *ngIf="showTools" mat-list-item routerLink="/tools" [routerLinkActive]="'active'"><i
                        class="fas fa-medkit"></i>&nbsp;{{'tools.Title' | translate }}</a>
        <a mat-list-item routerLink="/settings" [routerLinkActive]="'active'"><i
                        class="fas fa-cogs"></i>&nbsp;{{'settings.Title' | translate }}</a>
        <a mat-list-item routerLink="/server" [routerLinkActive]="'active'"><i
                        class="fas fa-server"></i>&nbsp;{{'server.Title' | translate }}</a>
</mat-nav-list>